/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;
}
/* /css reset */

.header-container{
    background-color: #255ee9;
    width: 100%;
    height: 50px;
}

.header-container header{
    width: 1180px;
    padding: 1rem 0;
    margin:auto;
    line-height: 2.5em
}

.nav-bar{
    display: inline-block;
}



.log-in{
    float: right;

    padding: 0 1em;
    border-radius: 40px;

    color: #23272a;
    text-decoration: none;
    ;
    
    background-color: #ffffff;
}

.top-section{
    width: 100%;
    height: 650px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}